body {
    background-color: #f0f0f0;  
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    min-height: 100vh;  
    margin: 0;
    overflow: hidden;
}


#interactive-background {
    width: 100% !important;
    height: 100% !important;
    position: fixed !important;
    z-index: -1 !important; 
    top: 0px !important;
    left: 0px !important; 
    background-color: rgb(0, 0, 0);
    pointer-events: none; 
}


.container {
    text-align: center;
    z-index: 1;
}

.profile-photo {
    width: 250px; /* Make the image bigger */
    height: 250px;
    border-radius: 50%; 
    object-fit: cover; /* Keeps the photo within the circle without stretching */
}

.your-name {
    margin-top: 20px;
    font-size: 2.5em;  
    font-weight: bold;
    color: #fff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.icon-boxes {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    color: #fff;
}

.icon-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 15px; 
    text-decoration: none; /* Removes link underline */
    background-color: rgba(0, 0, 0, 0.2);  /* Semi-transparent background */
}

.icon-box img {
    width: 50px;
    height: 50px;
} 

.icon-box p {
    /* Ensure text color contrasts well */
    color: #fff;
}